In [109]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
from pprint import pprint
import pandas as pd
import numpy as np

In [110]:
#import data from sql db
Base = declarative_base()

class BaseballPlayer(Base):
    __tablename__ = "player"
    Country = Column(String, primary_key=True)
    year = Column(Integer)
    GDP_Per_capita = Column(Integer)
    education = Column(Integer)
    birth_day = Column(Integer)
    birth_country = Column(String)
    birth_state = Column(String)
    birth_city = Column(String)
    name_first = Column(String)
    name_last = Column(String)
    name_given = Column(String)
    
    height = Column(Integer)
    bats = Column(String)
    throws = Column(String)
    debut = Column(String)
    final_game = Column(String)

In [111]:
Education_df = pd.read_csv("./Clean_datasets/Edu.csv")
G20_pop_df = pd.read_csv("./Clean_datasets/G20.csv")
GDP_per_cap_df = pd.read_csv("./Clean_datasets/GDP.csv")
life_exp_df = pd.read_csv("./Clean_datasets/LifeExp.csv")
unemployment_df = pd.read_csv("./Clean_datasets/Unemployment.csv")
merge6 = pd.read_csv("./Clean_datasets/merge6outer2.csv")


table_df=G20_pop_df.copy()
table_df=table_df.drop(columns=["Unnamed: 0","FREQUENCY","INDICATOR","SUBJECT","MEASURE"])
table_df=table_df.rename(columns={"Value":"Population (MLN)"})
Education_df=Education_df.drop(columns=["Unnamed: 0","FREQUENCY","INDICATOR","MEASURE"])
Education_df=Education_df.rename(columns={"Value":"%_tertiary"})
GDP_per_cap_df=GDP_per_cap_df.drop(columns=["Unnamed: 0","FREQUENCY","INDICATOR","SUBJECT","MEASURE"])
GDP_per_cap_df=GDP_per_cap_df.rename(columns={"Value":"GDP_Per_Capita"})
unemployment_df=unemployment_df.drop(columns=["Unnamed: 0","FREQUENCY","INDICATOR","SUBJECT","MEASURE"])
unemployment_df=unemployment_df.rename(columns={"Value":"Unemployment_%"})
life_exp_df=life_exp_df.drop(columns=["Unnamed: 0","FREQUENCY","INDICATOR","SUBJECT","MEASURE"])
life_exp_df=life_exp_df.rename(columns={"Value":"Life _Expectancy_Birth"})






table_df=pd.merge(table_df,Education_df,how="inner",on=["LOCATION","TIME"])
table_df=pd.merge(table_df,GDP_per_cap_df,how="inner",on=["LOCATION","TIME"])
table_df=pd.merge(table_df,unemployment_df,how="inner",on=["LOCATION","TIME"])
table_df=pd.merge(table_df,life_exp_df,how="inner",on=["LOCATION","TIME"])
table_df

C:\Users\Leo\AppData\Local\Temp\ipykernel_39028\2564662228.py:6: DtypeWarning: Columns (2,3,4,5,8,9,10,11,13,14,15,16,24,26,31,32,33,34,35,37,38,39,40) have mixed types. Specify dtype option on import or set low_memory=False.
  merge6 = pd.read_csv("./Clean_datasets/merge6outer2.csv")

,LOCATION,TIME,Population (MLN),SUBJECT,%_tertiary,GDP_Per_Capita,Unemployment_%,Life _Expectancy_Birth
0,AUS,1989,16.814416,25_34,34.140335,17835.122957,6.179825,76.4
1,AUS,1991,17.284036,25_34,35.707539,18177.563681,9.576522,77.3
2,AUS,1993,17.634808,25_34,22.836517,20184.946005,10.874670,77.9
3,AUS,1994,17.805468,25_34,23.624947,21432.775454,9.722190,77.9
4,AUS,1995,18.004882,25_34,24.697142,22442.316842,8.472281,77.8
...,...,...,...,...,...,...,...,...
302,USA,2017,325.122128,25_34,47.757000,59589.233923,4.350000,78.6
303,USA,2018,326.838199,25_34,49.373737,62449.612827,3.900000,78.7
304,USA,2019,328.329953,25_34,50.380188,64690.272395,3.666667,78.8
305,USA,2020,331.511512,25_34,51.856071,63480.861222,8.091666,77.0
306,USA,2021,332.031554,25_34,51.167500,70181.121750,5.366667,76.4

In [165]:
All_data_df = pd.read_csv("./Clean_datasets/mergefinal.csv")
All_data_df.head()

,LOCATION,Year,G20 Value,Education Value,GDP Value,LifeExp Value,Population Value,TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Unemployment Value
0,Australia,1950,8.1787,NaN,NaN,NaN,8.1787,3.06,24.9,NaN
1,Australia,1951,8.4217,NaN,NaN,NaN,8.4217,3.06,25.1,NaN
2,Australia,1952,8.6365,NaN,NaN,NaN,8.6365,3.18,24.1,NaN
3,Australia,1953,8.8153,NaN,NaN,NaN,8.8153,3.19,23.3,NaN
4,Australia,1954,8.9865,NaN,NaN,NaN,8.9865,3.19,22.3,NaN

In [193]:
#cleaning data by removing all NaN
data_nonulls_df=All_data_df.dropna()
data_nonulls_df.describe()

,Year,G20 Value,Education Value,GDP Value,LifeExp Value,Population Value,TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Unemployment Value
count,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000
mean,2006.550489,94.928161,37.048153,32734.220867,79.265798,94.928161,1.694007,6.301629,6.702223
std,9.297545,80.386166,15.405376,12243.875424,2.818282,80.386166,0.357790,4.572591,2.612594
min,1981.000000,16.814416,6.575119,9456.139259,73.100000,16.814416,0.880000,1.800000,2.066667
25%,2000.000000,49.430974,23.874139,23223.884511,77.300000,49.430974,1.380000,3.600000,4.541666
50%,2007.000000,64.596752,35.882999,32236.740986,79.400000,64.596752,1.700000,4.800000,6.285546
75%,2014.000000,114.558062,49.121075,41663.190771,81.600000,114.558062,1.920000,6.900000,8.712500
max,2021.000000,332.031554,69.851555,70181.121750,84.600000,332.031554,2.870000,26.700000,13.741670

In [167]:
from sklearn.linear_model import LinearRegression
countries=data_nonulls_df["LOCATION"].unique()
print(countries)

['Australia' 'Canada' 'France' 'Germany' 'Italy' 'Japan'
 'Republic of Korea' 'Mexico' 'Türkiye' 'United Kingdom'
 'United States of America']

In [168]:
data_nonulls_df

,LOCATION,Year,G20 Value,Education Value,GDP Value,LifeExp Value,Population Value,TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Unemployment Value
39,Australia,1989,16.814416,34.140335,17835.122957,76.4,16.814416,1.84,8.5,6.179825
41,Australia,1991,17.284036,35.707539,18177.563681,77.3,17.284036,1.86,6.9,9.576522
43,Australia,1993,17.634808,22.836517,20184.946005,77.9,17.634808,1.87,6.0,10.874670
44,Australia,1994,17.805468,23.624947,21432.775454,77.9,17.805468,1.85,6.0,9.722190
45,Australia,1995,18.004882,24.697142,22442.316842,77.8,18.004882,1.83,5.7,8.472281
...,...,...,...,...,...,...,...,...,...,...
2184,United States of America,2017,325.122128,47.757000,59589.233923,78.6,325.122128,1.76,5.7,4.350000
2185,United States of America,2018,326.838199,49.373737,62449.612827,78.7,326.838199,1.72,5.6,3.900000
2186,United States of America,2019,328.329953,50.380188,64690.272395,78.8,328.329953,1.69,5.5,3.666667
2187,United States of America,2020,331.511512,51.856071,63480.861222,77.0,331.511512,1.64,5.5,8.091666
2188,United States of America,2021,332.031554,51.167500,70181.121750,76.4,332.031554,1.66,5.4,5.366667

In [170]:
#cleaning data by removing all 
data_training=data_nonulls_df.drop(columns=["LOCATION","Year","G20 Value"])
data_training

,Education Value,GDP Value,LifeExp Value,Population Value,TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Unemployment Value
39,34.140335,17835.122957,76.4,16.814416,1.84,8.5,6.179825
41,35.707539,18177.563681,77.3,17.284036,1.86,6.9,9.576522
43,22.836517,20184.946005,77.9,17.634808,1.87,6.0,10.874670
44,23.624947,21432.775454,77.9,17.805468,1.85,6.0,9.722190
45,24.697142,22442.316842,77.8,18.004882,1.83,5.7,8.472281
...,...,...,...,...,...,...,...
2184,47.757000,59589.233923,78.6,325.122128,1.76,5.7,4.350000
2185,49.373737,62449.612827,78.7,326.838199,1.72,5.6,3.900000
2186,50.380188,64690.272395,78.8,328.329953,1.69,5.5,3.666667
2187,51.856071,63480.861222,77.0,331.511512,1.64,5.5,8.091666
2188,51.167500,70181.121750,76.4,332.031554,1.66,5.4,5.366667

In [179]:

fertility_y = data_training['TotalFertilityRate(LiveBirthsPerWoman)']
X=data_training.drop(columns="TotalFertilityRate(LiveBirthsPerWoman)")
#X=data_training.copy()


model = LinearRegression()
model.fit(X, fertility_y)
coef=model.coef_
intercept=model.intercept_
print(f"Model's slope: {model.coef_}")

Model's slope: [1.22755851e-03 8.28981476e-06 4.85971613e-03 3.32761907e-04
 7.72527579e-02 2.09285438e-02]

In [180]:
print(f"Model's y-intercept: {model.intercept_}")

Model's y-intercept: 0.33328339174759347

In [181]:
print(f"Model's formula: y = {model.intercept_} + {model.coef_[0]}X")

Model's formula: y = 0.33328339174759347 + 0.0012275585093404961X

In [182]:
print(f"Model's formula: y = {model.intercept_} + {model.coef_[0]} * 2022")

Model's formula: y = 0.33328339174759347 + 0.0012275585093404961 * 2022

In [183]:
y_7 = model.intercept_ + model.coef_[0] * 2022

In [184]:
print(f"Predicted Fertility on : {y_7}")

Predicted Fertility on : 2.815406697634077

In [185]:
predicted_y_values = model.predict(X)
predicted_y_values

array([1.68590321, 1.64267934, 1.60419365, 1.59144283, 1.55137371,
       1.55478463, 1.5160499 , 1.56773009, 1.52326132, 1.54769577,
       1.54694971, 1.53758917, 1.53341092, 1.57437886, 1.56682693,
       1.53814372, 1.54096709, 1.57010451, 1.57291042, 1.56180289,
       1.52537111, 1.58867143, 1.58463236, 1.558881  , 1.5692008 ,
       1.59860875, 1.59671398, 1.58647995, 1.63483664, 1.65912387,
       1.75585722, 1.62198218, 1.63002608, 1.63079341, 1.65853593,
       1.65338495, 1.62943483, 1.60085344, 1.596304  , 1.57495977,
       1.57591171, 1.56834379, 1.6034664 , 1.62840071, 1.63304884,
       1.6319426 , 1.65943234, 1.64868961, 1.66359642, 1.66566453,
       1.68512828, 1.69890362, 1.69420139, 1.68866831, 1.70859806,
       1.70352329, 1.67904797, 1.69807243, 1.70087777, 1.71148636,
       1.69517557, 1.74852513, 1.75359165, 1.6739198 , 1.66998163,
       1.66116814, 1.64809784, 1.57240716, 1.58264781, 1.5815489 ,
       1.55305407, 1.54866197, 1.53958798, 1.52553984, 1.51434497,
       1.52793715, 1.51840577, 1.54682308, 1.53704372, 1.5327211 ,
       1.57615819, 1.57538681, 1.57365457, 1.59371161, 1.63103705,
       1.6313246 , 1.6439061 , 1.6554898 , 1.67112561, 1.6821885 ,
       1.69674107, 1.66687659, 1.68364081, 1.54568425, 1.5445502 ,
       1.54900613, 1.53766223, 1.54086255, 1.52991906, 1.51399927,
       1.5035926 , 1.49593907, 1.52016888, 1.55015839, 1.57390101,
       1.57886702, 1.571937  , 1.56333017, 1.52409206, 1.51444102,
       1.520672  , 1.53188424, 1.50853414, 1.52015279, 1.53291834,
       1.52996299, 1.56327226, 1.55515147, 1.56605288, 1.58225948,
       1.5812366 , 1.60154215, 1.74814744, 1.7241198 , 1.72162968,
       1.6350026 , 1.64147515, 1.60869558, 1.5849805 , 1.53576305,
       1.53321801, 1.51367273, 1.46125117, 1.47027081, 1.45549431,
       1.45144625, 1.43771737, 1.4637539 , 1.4874845 , 1.49286754,
       1.49712648, 1.53978874, 1.56764775, 1.574436  , 1.56970621,
       1.58601974, 1.5974344 , 1.59087037, 1.56668704, 1.51818291,
       1.5618099 , 1.3920827 , 1.40698559, 1.39692653, 1.40873564,
       1.40776744, 1.41742786, 1.42229756, 1.41002952, 1.41522121,
       1.41678478, 1.41479673, 1.4222452 , 1.41715255, 1.42473203,
       1.43134895, 1.42487927, 1.42602392, 1.41964114, 1.42079105,
       1.4147148 , 1.40099723, 1.40793169, 1.40874374, 1.40860492,
       1.41885228, 1.59275823, 1.53715543, 1.59644024, 1.56861943,
       1.51188933, 1.48710325, 1.46634805, 1.4643335 , 1.45521997,
       1.44214099, 1.43285717, 1.4283601 , 1.41569979, 1.41159748,
       1.42604067, 1.41590154, 1.41655582, 1.41624066, 1.42842399,
       1.44717889, 1.45780625, 1.46309601, 1.48339201, 1.4809091 ,
       1.48815607, 1.49433762, 2.9597872 , 2.86899119, 2.775137  ,
       2.70087197, 2.63210229, 2.5692567 , 2.51984287, 2.47645703,
       2.41452774, 2.37311656, 2.32671936, 2.29069675, 2.28072176,
       2.23899447, 2.21037138, 2.17397545, 2.13838884, 2.11114693,
       2.06447203, 2.03713397, 1.99410156, 1.96601109, 1.93722988,
       1.91426031, 1.89655176, 2.70849815, 2.60063041, 2.50719658,
       2.43745274, 2.40569224, 2.29923112, 2.20212548, 2.12929246,
       2.10577913, 2.07898667, 2.05253127, 2.02913748, 1.99004051,
       1.94713664, 1.97027585, 1.54408206, 1.52854246, 1.53202611,
       1.52592392, 1.53224765, 1.52330816, 1.54900317, 1.53944151,
       1.54752472, 1.58692528, 1.57856757, 1.58970798, 1.61397606,
       1.61037351, 1.61655251, 1.60825782, 1.59216552, 1.57580638,
       1.57630906, 1.57606856, 1.58992433, 1.58359539, 1.59665208,
       1.57963657, 1.99226876, 2.01263366, 1.98329718, 1.94588215,
       1.94048554, 1.91327156, 1.89838714, 1.88787474, 1.9051591 ,
       1.8767078 , 1.86828388, 1.86365298, 1.84512524, 1.81803915,
       1.78901372, 1.78452632, 1.77537747, 1.78805334, 1.78277505,
       1.78782991, 1.78949679, 1.82774536, 1.84538886, 1.8499577 ,
       1.86904832, 1.87948887, 1.89774544, 1.91375164, 1.95397363,
       1.95348319, 1.9372935 , 1.93520797, 1.92683656, 1.91107214,
       1.91465952, 1.90893582, 1.90743345, 1.91704399, 1.9252279 ,
       2.00193383, 1.98913417])

In [186]:

predicted=data_training.copy()
predicted["fertility predicted"]=predicted_y_values
predicted.head()

,Education Value,GDP Value,LifeExp Value,Population Value,TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Unemployment Value,fertility predicted
39,34.140335,17835.122957,76.4,16.814416,1.84,8.5,6.179825,1.685903
41,35.707539,18177.563681,77.3,17.284036,1.86,6.9,9.576522,1.642679
43,22.836517,20184.946005,77.9,17.634808,1.87,6.0,10.874670,1.604194
44,23.624947,21432.775454,77.9,17.805468,1.85,6.0,9.722190,1.591443
45,24.697142,22442.316842,77.8,18.004882,1.83,5.7,8.472281,1.551374

In [187]:
from sklearn.metrics import mean_squared_error, r2_score
score = model.score(X, fertility_y, sample_weight=None)
r2 = r2_score(fertility_y, predicted_y_values)
mse = mean_squared_error(fertility_y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(fertility_y)

# Print relevant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.6369497412234666.
The r2 is 0.6369497412234666.
The mean squared error is 0.046323997318268986.
The root mean squared error is 0.21523010318788816.
The standard deviation is 0.35720673485162246.

# Regression when we will the null cells with the mean value

In [ ]:
#cleaning data by removing all NaN
data_nonulls_df=All_data_df.dropna()
data_nonulls_df.describe()

,Year,G20 Value,Education Value,GDP Value,LifeExp Value,Population Value,TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Unemployment Value
count,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000,307.000000
mean,2006.550489,94.928161,37.048153,32734.220867,79.265798,94.928161,1.694007,6.301629,6.702223
std,9.297545,80.386166,15.405376,12243.875424,2.818282,80.386166,0.357790,4.572591,2.612594
min,1981.000000,16.814416,6.575119,9456.139259,73.100000,16.814416,0.880000,1.800000,2.066667
25%,2000.000000,49.430974,23.874139,23223.884511,77.300000,49.430974,1.380000,3.600000,4.541666
50%,2007.000000,64.596752,35.882999,32236.740986,79.400000,64.596752,1.700000,4.800000,6.285546
75%,2014.000000,114.558062,49.121075,41663.190771,81.600000,114.558062,1.920000,6.900000,8.712500
max,2021.000000,332.031554,69.851555,70181.121750,84.600000,332.031554,2.870000,26.700000,13.741670

In [194]:

data_training2=All_data_df.drop(columns=["LOCATION","Year","G20 Value"])
data_training2=data_training2.fillna({'GDP Value':32734.22,
                                      'LifeExp Value':79.26,
                                      'TotalFertilityRate(LiveBirthsPerWoman)':1.69,
                                      'Unemployment Value':6.70,
                                      'Population Value':94.92,
                                      'Education Value':37.04,
                                      'InfantMortalityRate(InfantDeathsPer1000LiveBirths)':6.30})
fertility_y = data_training2['TotalFertilityRate(LiveBirthsPerWoman)']
X=data_training2.drop(columns="TotalFertilityRate(LiveBirthsPerWoman)")
#X=data_training.copy()


model = LinearRegression()
model.fit(X, fertility_y)
coef=model.coef_
intercept=model.intercept_
predicted_y_values = model.predict(X)
predicted=data_training2.copy()
predicted["fertility predicted"]=predicted_y_values
predicted.head()

Model's slope: [-1.69611840e-03  9.42852430e-07 -5.53339031e-04 -7.46715583e-05
  3.20848712e-02 -1.37048592e-02]

,Education Value,GDP Value,LifeExp Value,Population Value,TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Unemployment Value,fertility predicted
0,37.04,32734.22,79.26,8.1787,3.06,24.9,6.7,2.403598
1,37.04,32734.22,79.26,8.4217,3.06,25.1,6.7,2.409996
2,37.04,32734.22,79.26,8.6365,3.18,24.1,6.7,2.377896
3,37.04,32734.22,79.26,8.8153,3.19,23.3,6.7,2.352214
4,37.04,32734.22,79.26,8.9865,3.19,22.3,6.7,2.320117

In [195]:
from sklearn.metrics import mean_squared_error, r2_score
score = model.score(X, fertility_y, sample_weight=None)
r2 = r2_score(fertility_y, predicted_y_values)
mse = mean_squared_error(fertility_y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(fertility_y)

# Print relevant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.7218073785691432.
The r2 is 0.7218073785691432.
The mean squared error is 0.4714295833402177.
The root mean squared error is 0.6866072992185691.
The standard deviation is 1.301774057962666.

# Normalized Results with mean filling the null values

In [203]:
from sklearn.preprocessing import StandardScaler
data_training3=data_training2.copy()
columns=[]
column_names=data_training3.columns.values.tolist()
columns.append(column_names)

data_training4 = StandardScaler().fit_transform(data_training3[column_names])
data_training4=pd.DataFrame(data_training4, columns=column_names,index=data_training3.index)

data_training4.head()

,Education Value,GDP Value,LifeExp Value,Population Value,TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Unemployment Value
0,0.067935,0.316281,0.375742,-0.270400,0.439722,-0.091563,0.048351
1,0.067935,0.316281,0.375742,-0.270117,0.439722,-0.085773,0.048351
2,0.067935,0.316281,0.375742,-0.269867,0.531904,-0.114722,0.048351
3,0.067935,0.316281,0.375742,-0.269659,0.539586,-0.137882,0.048351
4,0.067935,0.316281,0.375742,-0.269459,0.539586,-0.166831,0.048351

In [204]:
fertility_y = data_training4['TotalFertilityRate(LiveBirthsPerWoman)']
X=data_training4.drop(columns="TotalFertilityRate(LiveBirthsPerWoman)")
#X=data_training.copy()


model = LinearRegression()
model.fit(X, fertility_y)
coef=model.coef_
intercept=model.intercept_
predicted_y_values = model.predict(X)
predicted=data_training4.copy()
predicted["fertility predicted"]=predicted_y_values
predicted.head()

,Education Value,GDP Value,LifeExp Value,Population Value,TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Unemployment Value,fertility predicted
0,0.067935,0.316281,0.375742,-0.270400,0.439722,-0.091563,0.048351,-0.064514
1,0.067935,0.316281,0.375742,-0.270117,0.439722,-0.085773,0.048351,-0.059599
2,0.067935,0.316281,0.375742,-0.269867,0.531904,-0.114722,0.048351,-0.084258
3,0.067935,0.316281,0.375742,-0.269659,0.539586,-0.137882,0.048351,-0.103986
4,0.067935,0.316281,0.375742,-0.269459,0.539586,-0.166831,0.048351,-0.128643

In [205]:
from sklearn.metrics import mean_squared_error, r2_score
score = model.score(X, fertility_y, sample_weight=None)
r2 = r2_score(fertility_y, predicted_y_values)
mse = mean_squared_error(fertility_y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(fertility_y)

# Print relevant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.7218073785691432.
The r2 is 0.7218073785691432.
The mean squared error is 0.2781926214308567.
The root mean squared error is 0.5274396851118208.
The standard deviation is 0.9999999999999971.