In [109]:
#impoort dependencies
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sklearn.linear_model import LinearRegression
from sqlalchemy.ext.declarative import declarative_base
from pprint import pprint
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [110]:
#Importing the data tabl;e
All_data_df = pd.read_csv("./Clean_datasets/mergeFinalFilledwithedu.csv")
All_data_df.head()

,LOCATION,Year,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value
0,Australia,1960,2412.627589,70.610,10275000.0,1.3,3.45,20.1,NaN
1,Australia,1961,2383.188902,70.700,10508200.0,1.4,3.54,19.8,NaN
2,Australia,1962,2577.332834,70.790,10700500.0,1.4,3.43,20.3,NaN
3,Australia,1963,2752.620592,70.880,10906900.0,1.4,3.34,19.5,NaN
4,Australia,1964,2902.590472,70.872,11121600.0,1.4,3.15,18.7,NaN

In [111]:
#cleaning data by removing all NaN
data_nonulls_df=All_data_df.dropna()
data_nonulls_df.describe()

,Year,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value
count,412.000000,412.000000,412.000000,4.120000e+02,412.000000,412.000000,412.000000,412.000000
mean,2008.097087,28182.057263,77.276762,1.240653e+08,140.374029,1.770777,9.291748,33.317541
std,9.452933,15569.616894,4.937650,1.810933e+08,143.561538,0.403363,8.971921,17.053884
min,1981.000000,1136.755200,57.200000,1.681442e+07,2.200000,0.880000,1.800000,5.596642
25%,2001.000000,15389.205930,74.986000,5.132588e+07,25.175000,1.440000,3.700000,19.082791
50%,2009.500000,27373.057350,78.123000,6.647405e+07,98.750000,1.755000,5.400000,30.553422
75%,2016.000000,40024.395962,81.029000,1.276360e+08,233.450000,2.000000,11.075000,47.778956
max,2022.000000,76359.999520,84.910000,1.417173e+09,524.000000,3.050000,53.700000,69.851555

In [112]:

countries=data_nonulls_df["LOCATION"].unique()
print(countries)

['Australia' 'Canada' 'France' 'Germany' 'Italy' 'Japan'
 'Republic of Korea' 'Mexico' 'Türkiye' 'United Kingdom'
 'United States of America' 'Brazil' 'Russian Federation' 'China' 'India'
 'Indonesia' 'South Africa' 'Argentina' 'Saudi Arabia']

In [113]:
#cleaning data by removing all columns that are considered not needed
#,"G20 Value"
data_training=data_nonulls_df.drop(columns=["LOCATION","Year"])
data_training

,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value
29,17835.12296,76.490,16814416.0,2.2,1.84,8.5,34.140335
31,18177.56368,77.090,17284036.0,2.2,1.86,6.9,35.707539
33,20184.94601,77.690,17634808.0,2.3,1.87,6.0,22.836517
34,21432.77545,77.920,17805468.0,2.3,1.85,6.0,23.624947
35,22442.31684,78.150,18004882.0,2.3,1.83,5.7,24.697142
...,...,...,...,...,...,...,...
2641,11795.16290,76.450,44494502.0,15.9,1.62,2.9,17.455540
2642,9963.67420,76.594,44938712.0,16.0,1.61,3.2,18.856657
2643,8496.42820,76.738,45376763.0,16.1,1.58,3.2,18.214817
2644,10636.11550,76.882,45808747.0,16.2,1.58,3.1,19.026117
3141,56613.47504,74.484,30339795.0,14.9,1.55,8.6,25.762745

In [114]:

fertility_y = data_training['TotalFertilityRate(LiveBirthsPerWoman)']
X=data_training.drop(columns="TotalFertilityRate(LiveBirthsPerWoman)")
#X=data_training.copy()


model = LinearRegression()
model.fit(X, fertility_y)
coef=model.coef_
intercept=model.intercept_
print(f"Model's slope: {model.coef_}")

Model's slope: [ 1.94522504e-06  6.95436870e-03  4.74217584e-11 -1.03128190e-03
  3.94456543e-02  1.16474514e-03]

In [115]:
predicted_y_values = model.predict(X)
predicted_y_values

array([1.85231584, 1.79588921, 1.75338759, 1.75834082, 1.75132871,
       1.75168461, 1.73880328, 1.77227556, 1.75566939, 1.76265877,
       1.76592601, 1.76372399, 1.7643243 , 1.7871748 , 1.78209313,
       1.76961711, 1.77345796, 1.77305438, 1.77594557, 1.76879014,
       1.75217183, 1.77106223, 1.76672976, 1.75573141, 1.75950766,
       1.776763  , 1.77377345, 1.77167281, 1.77707126, 1.7899407 ,
       1.80827479, 1.87211593, 1.79454774, 1.77674036, 1.76578056,
       1.77486371, 1.77990006, 1.77721352, 1.7618435 , 1.76249141,
       1.75567824, 1.76141348, 1.76437147, 1.77580724, 1.78305529,
       1.79023933, 1.79529363, 1.81351074, 1.81217558, 1.82693282,
       1.82831472, 1.81071524, 1.82956907, 1.83630733, 1.83544301,
       1.84130521, 1.83090655, 1.81100917, 1.81066285, 1.81714433,
       1.82534299, 1.81958111, 1.81235447, 1.83321416, 1.84006291,
       1.75934545, 1.69357134, 1.69046781, 1.67496304, 1.65111275,
       1.61573462, 1.61578544, 1.61729476, 1.60990836, 1.62278655,
       1.62589391, 1.61908038, 1.61755579, 1.61693853, 1.61089387,
       1.62165032, 1.62214277, 1.62448139, 1.63099409, 1.62583138,
       1.62184234, 1.62703157, 1.63677527, 1.63514558, 1.64070111,
       1.64420351, 1.65606775, 1.66319411, 1.66885077, 1.66665308,
       1.67064887, 1.679656  , 1.55353827, 1.52738326, 1.51240215,
       1.49209449, 1.48797817, 1.47282937, 1.46862968, 1.46828786,
       1.46885264, 1.46469524, 1.46831832, 1.47201342, 1.47401065,
       1.46831009, 1.47013599, 1.48063882, 1.470855  , 1.47187335,
       1.47750425, 1.48942247, 1.48125879, 1.48633618, 1.48884769,
       1.49159888, 1.5065863 , 1.50061747, 1.50598765, 1.51180944,
       1.50835477, 1.5154669 , 1.52689691, 1.63126323, 1.62963528,
       1.62456157, 1.56031503, 1.55673775, 1.53649239, 1.52907824,
       1.51075373, 1.52007844, 1.51611234, 1.49056974, 1.49776344,
       1.49304457, 1.49579235, 1.49343209, 1.49740721, 1.49985299,
       1.49385853, 1.49334687, 1.49123188, 1.48898179, 1.48836885,
       1.49647318, 1.50067514, 1.51101805, 1.51285086, 1.503276  ,
       1.49680127, 1.5068333 , 1.51905297, 1.38068806, 1.38155327,
       1.37099948, 1.37356141, 1.36883122, 1.37028058, 1.37373847,
       1.37055336, 1.37466653, 1.37548463, 1.37466891, 1.37773709,
       1.36801922, 1.36970313, 1.37892264, 1.37492247, 1.37571686,
       1.37826057, 1.38033146, 1.38262906, 1.37929063, 1.38758383,
       1.3909783 , 1.39057361, 1.39660462, 1.40375805, 1.36834195,
       1.32776062, 1.31393692, 1.29916581, 1.289379  , 1.27862052,
       1.27286051, 1.26962026, 1.26131462, 1.25193759, 1.24740855,
       1.24412468, 1.23810491, 1.23310459, 1.23475815, 1.22981227,
       1.22778214, 1.22457175, 1.22065493, 1.22067978, 1.21993793,
       1.21859646, 1.2227927 , 1.21950917, 1.21868159, 1.21996064,
       1.22765587, 2.46648504, 2.42529676, 2.38373705, 2.3446825 ,
       2.3079104 , 2.27477859, 2.245923  , 2.21556952, 2.18326421,
       2.15814287, 2.13171694, 2.10886789, 2.08846929, 2.06577626,
       2.04865584, 2.03059862, 2.01122391, 1.99560857, 1.9764008 ,
       1.9638157 , 1.94517848, 1.93053293, 1.91454589, 1.89743159,
       1.88978889, 1.89437425, 3.43117736, 3.31935188, 3.10519341,
       3.00805062, 2.81941288, 2.72294109, 2.65910491, 2.55726304,
       2.48073772, 2.41053656, 2.34400569, 2.27719541, 2.22280291,
       2.16979638, 2.11940069, 2.07356511, 2.02844228, 1.9914944 ,
       1.95987464, 1.93055445, 1.90152847, 1.87644123, 1.85578695,
       1.83776314, 1.81537962, 1.79537029, 1.77821726, 1.75464079,
       1.77080101, 1.50516959, 1.50455022, 1.50888789, 1.50727733,
       1.51196851, 1.50463091, 1.51770091, 1.51133308, 1.51326525,
       1.52479847, 1.51974239, 1.51819368, 1.5128899 , 1.50432262,
       1.5020705 , 1.4967896 , 1.48830893, 1.49030598, 1.49614171,
       1.49605804, 1.50215207, 1.49819687, 1.50294527, 1.49662355,
       1.50193179, 1.51135715, 1.93522709, 1.92244142, 1.90700617,
       1.90663015, 1.90477967, 1.89134711, 1.88979552, 1.88878907,
       1.89696817, 1.87584529, 1.85754352, 1.84820722, 1.84483899,
       1.83670305, 1.82575693, 1.82303824, 1.81957122, 1.82767845,
       1.82521754, 1.82636894, 1.81764191, 1.82477265, 1.82762317,
       1.82971205, 1.83980621, 1.8451367 , 1.85109222, 1.84682275,
       1.83258187, 1.82587982, 1.82247644, 1.8276719 , 1.82828532,
       1.82848813, 1.83617314, 1.83510395, 1.83492408, 1.838121  ,
       1.83998902, 1.83971736, 1.84834309, 1.86094195, 2.18456212,
       2.15146026, 2.11820688, 2.07739295, 2.0561045 , 2.03917228,
       2.02574883, 2.00939929, 2.00594736, 2.00191021, 1.99609328,
       1.98918182, 1.9807406 , 1.97219873, 1.97624244, 1.80112891,
       1.78807265, 1.82328621, 1.81269706, 1.78449836, 1.75335516,
       1.73399681, 1.71467151, 1.70272761, 1.89936122, 2.72188509,
       2.62891634, 2.17735936, 2.11832186, 2.06491359, 2.02285872,
       2.7353574 , 2.59748077, 2.54931442, 2.50495667, 2.45886582,
       2.41792857, 2.3777116 , 2.33688996, 2.30371602, 2.26554316,
       2.23084836, 2.19697066, 2.1680699 , 2.13893471, 2.11348603,
       2.08656792, 2.06330868, 2.04149742, 2.04291351, 2.67626679,
       2.42159521, 2.39568412, 2.48839779, 2.46727688, 2.4192042 ,
       2.34943015, 2.2590597 , 2.33319218, 2.3851724 , 2.17192243,
       2.39584632, 1.78993061, 1.749849  , 1.7530097 , 1.73583673,
       1.73537156, 1.67110873, 1.70764097, 1.70114584, 1.6343523 ,
       1.6175096 , 1.62426541, 1.58714347, 1.59796581, 1.59528319,
       1.59736454, 1.89552893])

In [116]:

predicted=data_training.copy()
predicted["fertility predicted"]=predicted_y_values
predicted.head()

,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value,fertility predicted
29,17835.12296,76.49,16814416.0,2.2,1.84,8.5,34.140335,1.852316
31,18177.56368,77.09,17284036.0,2.2,1.86,6.9,35.707539,1.795889
33,20184.94601,77.69,17634808.0,2.3,1.87,6.0,22.836517,1.753388
34,21432.77545,77.92,17805468.0,2.3,1.85,6.0,23.624947,1.758341
35,22442.31684,78.15,18004882.0,2.3,1.83,5.7,24.697142,1.751329

In [117]:
from sklearn.metrics import mean_squared_error, r2_score
score = model.score(X, fertility_y, sample_weight=None)
r2 = r2_score(fertility_y, predicted_y_values)
mse = mean_squared_error(fertility_y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(fertility_y)

# Print relevant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.7597335175224442.
The r2 is 0.7597335175224442.
The mean squared error is 0.03899685467583898.
The root mean squared error is 0.19747621293674583.
The standard deviation is 0.40287302998837765.

# Regression without null values, normalized

In [119]:
data_training_norm=data_training.copy()

columns=[]
column_names=data_training_norm.columns.values.tolist()
columns.append(column_names)

data_training_norm = StandardScaler().fit_transform(data_training_norm[column_names])
data_training_norm=pd.DataFrame(data_training_norm, columns=column_names,index=data_training.index)

data_training_norm.head()

,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value
29,-0.665367,-0.159533,-0.592961,-0.963643,0.171824,-0.088355,0.048305
31,-0.643346,-0.037870,-0.590365,-0.963643,0.221468,-0.266906,0.140314
33,-0.514260,0.083793,-0.588425,-0.962945,0.246289,-0.367340,-0.615330
34,-0.434018,0.130430,-0.587482,-0.962945,0.196646,-0.367340,-0.569042
35,-0.369098,0.177068,-0.586379,-0.962945,0.147002,-0.400819,-0.506095

In [120]:
fertility_y = data_training_norm['TotalFertilityRate(LiveBirthsPerWoman)']
X=data_training_norm.drop(columns="TotalFertilityRate(LiveBirthsPerWoman)")
#X=data_training.copy()


model = LinearRegression()
model.fit(X, fertility_y)
coef=model.coef_
intercept=model.intercept_
predicted_y_values = model.predict(X)
predicted=data_training4.copy()
predicted["fertility predicted"]=predicted_y_values
predicted.head()

,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value,fertility predicted
29,-0.665367,-0.159533,-0.592961,-0.963643,0.171824,-0.088355,0.048305,0.202394
31,-0.643346,-0.037870,-0.590365,-0.963643,0.221468,-0.266906,0.140314,0.062334
33,-0.514260,0.083793,-0.588425,-0.962945,0.246289,-0.367340,-0.615330,-0.043163
34,-0.434018,0.130430,-0.587482,-0.962945,0.196646,-0.367340,-0.569042,-0.030868
35,-0.369098,0.177068,-0.586379,-0.962945,0.147002,-0.400819,-0.506095,-0.048273

In [121]:
from sklearn.metrics import mean_squared_error, r2_score
score = model.score(X, fertility_y, sample_weight=None)
r2 = r2_score(fertility_y, predicted_y_values)
mse = mean_squared_error(fertility_y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(fertility_y)

# Print relevant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.7597335175224443.
The r2 is 0.7597335175224443.
The mean squared error is 0.2402664824775557.
The root mean squared error is 0.49016985064113816.
The standard deviation is 1.0000000000000007.

# Regression when we fill the null cells with the mean value

In [92]:
#cleaning data by removing all NaN
data_nonulls_df=All_data_df.dropna()
data_nonulls_df.describe()

,Year,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value
count,412.000000,412.000000,412.000000,4.120000e+02,412.000000,412.000000,412.000000,412.000000
mean,2008.097087,28182.057263,77.276762,1.240653e+08,140.374029,1.770777,9.291748,33.317541
std,9.452933,15569.616894,4.937650,1.810933e+08,143.561538,0.403363,8.971921,17.053884
min,1981.000000,1136.755200,57.200000,1.681442e+07,2.200000,0.880000,1.800000,5.596642
25%,2001.000000,15389.205930,74.986000,5.132588e+07,25.175000,1.440000,3.700000,19.082791
50%,2009.500000,27373.057350,78.123000,6.647405e+07,98.750000,1.755000,5.400000,30.553422
75%,2016.000000,40024.395962,81.029000,1.276360e+08,233.450000,2.000000,11.075000,47.778956
max,2022.000000,76359.999520,84.910000,1.417173e+09,524.000000,3.050000,53.700000,69.851555

In [93]:
#,"G20 Value"
data_training2=All_data_df.drop(columns=["LOCATION","Year"])
data_training2=data_training2.fillna({'GDP Value':	28182.05,
                                      'LifeExp Value':77.27,
                                      'TotalFertilityRate(LiveBirthsPerWoman)':1.77,
                                      'Unemployment Value':6.70,
                                      'Population Value':1.240653e+08,
                                      'Education Value':33.31,
                                      'InfantMortalityRate(InfantDeathsPer1000LiveBirths)':9.29,
                                      'PopulationDensityAsOf1July(PersonsPerSquareKm)':140.37})
fertility_y = data_training2['TotalFertilityRate(LiveBirthsPerWoman)']
X=data_training2.drop(columns="TotalFertilityRate(LiveBirthsPerWoman)")
#X=data_training.copy()


model = LinearRegression()
model.fit(X, fertility_y)
coef=model.coef_
intercept=model.intercept_
predicted_y_values = model.predict(X)
predicted=data_training2.copy()
predicted["fertility predicted"]=predicted_y_values
predicted.head()

,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value,fertility predicted
0,2412.627589,70.610,10275000.0,1.3,3.45,20.1,33.31,2.240850
1,2383.188902,70.700,10508200.0,1.4,3.54,19.8,33.31,2.230553
2,2577.332834,70.790,10700500.0,1.4,3.43,20.3,33.31,2.251620
3,2752.620592,70.880,10906900.0,1.4,3.34,19.5,33.31,2.220261
4,2902.590472,70.872,11121600.0,1.4,3.15,18.7,33.31,2.187041

In [94]:
from sklearn.metrics import mean_squared_error, r2_score
score = model.score(X, fertility_y, sample_weight=None)
r2 = r2_score(fertility_y, predicted_y_values)
mse = mean_squared_error(fertility_y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(fertility_y)

# Print relevant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.75992002862865.
The r2 is 0.75992002862865.
The mean squared error is 0.3276542535926726.
The root mean squared error is 0.5724109132368744.
The standard deviation is 1.1682342640365762.

# Normalized Results with mean filling the null values

In [95]:

data_training3=data_training2.copy()
columns=[]
column_names=data_training3.columns.values.tolist()
columns.append(column_names)

data_training4 = StandardScaler().fit_transform(data_training3[column_names])
data_training4=pd.DataFrame(data_training4, columns=column_names,index=data_training3.index)

data_training4.head()

,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value
0,-0.701967,-0.321901,-0.306640,-0.293999,0.965910,-0.068857,-0.000159
1,-0.703480,-0.309132,-0.305502,-0.293869,1.042950,-0.079929,-0.000159
2,-0.693503,-0.296362,-0.304563,-0.293869,0.948791,-0.061476,-0.000159
3,-0.684495,-0.283593,-0.303555,-0.293869,0.871751,-0.091000,-0.000159
4,-0.676788,-0.284728,-0.302507,-0.293869,0.709113,-0.120525,-0.000159

In [96]:
fertility_y = data_training4['TotalFertilityRate(LiveBirthsPerWoman)']
X=data_training4.drop(columns="TotalFertilityRate(LiveBirthsPerWoman)")
#X=data_training.copy()


model = LinearRegression()
model.fit(X, fertility_y)
coef=model.coef_
intercept=model.intercept_
predicted_y_values = model.predict(X)
predicted=data_training4.copy()
predicted["fertility predicted"]=predicted_y_values
predicted.head()

,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value,fertility predicted
0,-0.701967,-0.321901,-0.306640,-0.293999,0.965910,-0.068857,-0.000159,-0.069113
1,-0.703480,-0.309132,-0.305502,-0.293869,1.042950,-0.079929,-0.000159,-0.077928
2,-0.693503,-0.296362,-0.304563,-0.293869,0.948791,-0.061476,-0.000159,-0.059894
3,-0.684495,-0.283593,-0.303555,-0.293869,0.871751,-0.091000,-0.000159,-0.086738
4,-0.676788,-0.284728,-0.302507,-0.293869,0.709113,-0.120525,-0.000159,-0.115173

In [97]:
from sklearn.metrics import mean_squared_error, r2_score
score = model.score(X, fertility_y, sample_weight=None)
r2 = r2_score(fertility_y, predicted_y_values)
mse = mean_squared_error(fertility_y, predicted_y_values)
rmse = np.sqrt(mse)
std = np.std(fertility_y)

# Print relevant metrics.
print(f"The score is {score}.")
print(f"The r2 is {r2}.")
print(f"The mean squared error is {mse}.")
print(f"The root mean squared error is {rmse}.")
print(f"The standard deviation is {std}.")

The score is 0.75992002862865.
The r2 is 0.75992002862865.
The mean squared error is 0.2400799713713499.
The root mean squared error is 0.4899795621975981.
The standard deviation is 1.000000000000001.

In [104]:

data_training4[column_names].corr()

,GDP Value,LifeExp Value,Population Value,PopulationDensityAsOf1July(PersonsPerSquareKm),TotalFertilityRate(LiveBirthsPerWoman),InfantMortalityRate(InfantDeathsPer1000LiveBirths),Education Value
GDP Value,1.000000,0.608964,-0.120477,0.116192,-0.369848,-0.429199,0.203807
LifeExp Value,0.608964,1.000000,-0.234118,0.124810,-0.678454,-0.851913,0.164429
Population Value,-0.120477,-0.234118,1.000000,-0.026170,0.107998,0.245666,-0.048674
PopulationDensityAsOf1July(PersonsPerSquareKm),0.116192,0.124810,-0.026170,1.000000,0.209669,0.049724,0.018065
TotalFertilityRate(LiveBirthsPerWoman),-0.369848,-0.678454,0.107998,0.209669,1.000000,0.847708,-0.061577
InfantMortalityRate(InfantDeathsPer1000LiveBirths),-0.429199,-0.851913,0.245666,0.049724,0.847708,1.000000,-0.074807
Education Value,0.203807,0.164429,-0.048674,0.018065,-0.061577,-0.074807,1.000000